<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <h2>Felhasználó létrehozása</h2>

    <mat-form-field>
      <mat-label>Felhasználónév</mat-label>
      <input matInput type="text" id="username" required [(ngModel)]="user.username" name="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" id="password" required [(ngModel)]="user.password" name="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Szerepkör</mat-label>
      <select matNativeControl required [(ngModel)]="user.role" name="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </mat-form-field>
    
    <button mat-flat-button>Felhasználó hozzáadása</button>
  </form>
  