form {
    max-width: 500px;
    margin: 0 auto;
    padding-inline: 0px;
    padding-block: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 3px 3px grey;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px ;
    align-items: center;
  }

  h2{
    padding-bottom: 20px;
  }
  
  mat-form-field{
    width: 75%;
  }

  button {
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 75%;
  }
  
  button:hover{
    background-color: #016fe5;
    transform: scale(1.01);
  }
  