
<form (ngSubmit)="onSubmit()" class="login-form">
  <h2>Bejelentkezés</h2>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Felhasználónév</mat-label>
    <input matInput type="text" [(ngModel)]="username" name="username" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>

  <button mat-flat-button type="submit" class="submit-button">Bejelentkezés</button>

  <p *ngIf="error" class="error-message">{{ error }}</p>
</form>

