
.navbar {
  background: none;
  padding-block: 15px;
  padding-right: 30px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #eaebee, #484848,#eaebee);
}

.header-button{
  background-color:#eaebee !important;
  border-radius: 30px;
  padding: 20px;
  color: #4054b4 !important;
  font-size: 16px !important;
  font-family: 'Arial', sans-serif !important;
}

.header-button:hover {
  background-color: #4054b4 !important;
  color: white !important;
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: none; 
}

.auth-button {
  display: flex;
  align-items: center;
}

.auth-button button {
  border: none;
  padding: 22px;
  font-size: 17px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 20px;
}

.auth-button button:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

.auth-button .logout-button {
  background-color: red;
}

.auth-button .logout-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .navbar {
  background: none;
  background-color: #333;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

  .header-button{
  background-color: #333 !important;
  padding: 0px;
  border: none !important;
  color: white !important;
  border-color: #333 !important;
}

.auth-button button {
  padding: 12px;
  font-size: 15px;
  border-radius: 25px;
}

.header-button:hover {
  background-color: #333 !important;
  color: white !important;
  transform: scale(1);
}

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #333;
    padding: 20px;
    width: 200px;
    z-index: 10;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
