<nav class="navbar">
  <div class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </div>
  <ul class="nav-links" [class.active]="menuOpen">
<li><button mat-stroked-button class="header-button" (click)="navigateTo('/questions')">Generált kérdések</button></li>
<li><button mat-stroked-button class="header-button" (click)="navigateTo('/quiz')">Kvízek</button></li>
<li><button mat-stroked-button class="header-button" (click)="navigateTo('/upload')">Jegyzetek feltöltése</button></li>
<li><button mat-stroked-button class="header-button" (click)="navigateTo('/adduser')">Felhasználók felvitele</button></li>
<li><button mat-stroked-button class="header-button" (click)="navigateTo('/listuser')">Felhasználók listázása</button></li>

    
  </ul>
  
  <div class="auth-button">
    <button mat-flat-button color="primary" *ngIf="!isLoggedIn" (click)="goToLogin()" class="login-button">Bejelentkezés</button>
    <button mat-flat-button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">Kilépés</button>
  </div>
</nav>
