<!-- Felhasználói lista -->
<table>
  <thead>
    <tr>
      <th>Felhasználónév</th>
      <th>Szerepkör</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <div class="buttons">
        <button mat-flat-button (click)="editUser(user)">Szerkeszt</button>
        <button mat-flat-button (click)="deleteUser(user._id)">Töröl</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
