<div class="container">
  <div class="left-side">
    <div class="generate">
      <h2>Kérdésgenerálás</h2>
      <div>
        <label>Tantárgy</label>
        <select id="subjects" name="subjects" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
          <option *ngFor="let subject of getUniqueSubjects()" [value]="subject">{{ subject }}</option>
        </select>

        <label>Jegyzet</label>
        <select id="notes" name="notes" [(ngModel)]="selectedNote">
          <option>Egyik sem</option>
          <option *ngFor="let note of filteredNotes" [value]="note.title">{{ note.title }}</option>
        </select>

        <label>Kérdések száma</label>
        <input type="range" id="slider" name="slider" min="1" max="100" [(ngModel)]="selectedLength" >
  <span>{{ selectedLength }}</span>

        <label>Kérdés típus</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="question_type" [(ngModel)]="selectedType" value="SQSA"> Rövid kérdés rövid válasz
          </label>
          <label>
            <input type="radio" name="question_type" [(ngModel)]="selectedType" value="TF"> Igaz-Hamis
          </label>
        </div>
        <br/>
        <button (click)="generate()">Generálás</button>
      </div>
    </div>
    <div class="upload">
      <h2>Jegyzetek Feltöltése</h2>
      <div>
        <label>Tantárgy</label>
        <input type="text" placeholder="Tantárgy neve" [(ngModel)]="subject">
        <label>Jegyzet</label>
        <input type="file" (change)="onFileSelected($event)">
        <br/>
        <button (click)="upload()">Feltöltés</button>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="list_notes">
      <h3>Feltöltött jegyzetek:</h3>
      <select id="subjects" name="subjects" [(ngModel)]="selectedListSubject" (change)="onSubjectChange()">
        <option *ngFor="let subject of getUniqueSubjects()" [value]="subject">{{ subject }}</option>
      </select>
      <div *ngIf="selectedListSubject">
        <ul>
          <li *ngFor="let note of filteredNotesList">
            {{ note.title }}
            <div>
              <button (click)="viewNote(note.title)">📄 Megnyitás</button>
              <button (click)="deleteNote(note.title)">🗑️ Törlés</button>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="!selectedListSubject">
        <p>Válassz ki egy tantárgyat a jegyzetek megtekintéséhez.</p>
      </div>
    </div>
  </div>
</div>