<div class="container">
  <div class="left-side">

    <!-- Kérdésgenerálás -->
    <mat-card class="generate">
      <mat-card-title>Kérdésgenerálás</mat-card-title>
      <mat-card-content>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tantárgy</mat-label>
          <mat-select [(ngModel)]="selectedSubject" (selectionChange)="onSubjectChange()">
            <mat-option *ngFor="let subject of getUniqueSubjects()" [value]="subject">{{ subject }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Jegyzet</mat-label>
          <mat-select [(ngModel)]="selectedNote">
            <mat-option value="">Egyik sem</mat-option>
            <mat-option *ngFor="let note of filteredNotes" [value]="note.title">{{ note.title }}</mat-option>
          </mat-select>
        </mat-form-field>
  
          <mat-form-field>
            <mat-label>Kérdések száma</mat-label>
            <input matInput type="number" [(ngModel)]="selectedLength" min="1" max="100">
            <mat-hint align="end">{{selectedLength}}/100</mat-hint>
          </mat-form-field>

        <mat-radio-group [(ngModel)]="selectedType" class="radio-group" color="primary">
          <mat-radio-button value="SQSA">Rövid kérdés rövid válasz</mat-radio-button>
          <mat-radio-button value="TF">Igaz-Hamis</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button (click)="generate()">Generálás</button>

      </mat-card-content>
    </mat-card>

    <!-- Jegyzet Feltöltés -->
    <mat-card class="upload">
      <mat-card-title>Jegyzetek Feltöltése</mat-card-title>
      <mat-card-content>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tantárgy</mat-label>
          <input matInput placeholder="Tantárgy neve" [(ngModel)]="subject">
        </mat-form-field>

        <input class="file-input" type="file" (change)="onFileSelected($event)">

        <button mat-raised-button (click)="upload()">Feltöltés</button>

      </mat-card-content>
    </mat-card>

  </div>

  <!-- Jegyzet lista -->
  <div class="right-side">

    <mat-card class="list_notes">
      <mat-card-title>Feltöltött jegyzetek</mat-card-title>
      <mat-card-content>
    
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tantárgy</mat-label>
          <mat-select [(ngModel)]="selectedListSubject" (selectionChange)="onSubjectChange()">
            <mat-option *ngFor="let subject of getUniqueSubjects()" [value]="subject">{{ subject }}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <ng-container *ngIf="selectedListSubject; else noSubject">
          <mat-list>
            <mat-list-item class="note-cards" *ngFor="let note of filteredNotesList">

              <div class="note-row">
                  <div class="note-title">{{ note.title }}</div>
                  <div class="button-group">
                      <button mat-stroked-button color="primary" (click)="viewNote(note.title)">📄 Megnyitás</button>
                      <button mat-stroked-button color="warn" (click)="deleteNote(note.title)">🗑️ Törlés</button>
                  </div>
              </div>
    
            </mat-list-item>
          </mat-list>
        </ng-container>
    
        <ng-template #noSubject>
          <p>Válassz ki egy tantárgyat</p>
        </ng-template>
    
      </mat-card-content>
    </mat-card>

    
