

.button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  mat-form-field {
  min-width: 70%;
}
@media (max-width: 768px) {
h2 {
  font-size: large;
}}
  