 <div *ngIf="!quizFinished">
  <div *ngIf="questions[currentQuestionIndex]?.answer">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
  
    <div class="answers">
      <button mat-flat-button
      color="primary"
      class="button"
        *ngFor="let option of ['igaz', 'hamis']"
        (click)="answerTFQuestion(option)"
        [disabled]="answerRevealed">  
        {{ option }}
      </button>
    </div>
  </div>

  <div *ngIf="!questions[currentQuestionIndex]?.answer">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
  
    <div class="answers">
      <mat-form-field>
        <mat-label>Válasz</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br/>
      <button mat-flat-button
      color="primary"
      (click)="answerSQSAQuestion()"
      [disabled]="answerRevealed">Ellenőrzés
      </button>
    </div>
  </div>
  
  
  
    <p>Idő: {{ timeLeft }} mp</p>

    <div *ngIf="answerRevealed && correctAnswer">
      <div *ngIf="correctAnswer != 'IGAZ'">
      <p>Helyes válasz: <strong>{{ correctAnswer }}</strong></p>
      </div>
      <div *ngIf="correctAnswer == 'IGAZ'">
        <p>A válaszod helyes</p>
        </div>
      <br/>

    <button mat-flat-button
    color="primary"
      (click)="nextQuestion()">
       Következő kérdés 
    </button>
    </div>
    
  </div>
  
  <div *ngIf="quizFinished">
    <h2>Végeredmény: {{ score }} / {{ questions.length }}</h2>
  </div>
  