<div class="start" *ngIf="!isStarted">
  <div class="start-content">
  <h2>Kvíz</h2>
  <div id="text">
  <span>{{questions.length}} darab </span><span *ngIf="questions[0].answer">igaz-hamis </span><span *ngIf="!questions[0].answer">rövid válaszos </span>
  <span> kérdésre kell válaszolnod</span>
  </div>
  <mat-form-field>
    <mat-label>Idő kérdésenként (mp)</mat-label>
    <input matInput type="number" [(ngModel)]="maxTime" min="0" max="1000">
  </mat-form-field>
  <button mat-flat-button
      class="button"
        (click)="startQuiz()">  
        Indítás
      </button>
    </div>
</div> 
 
 <div class="questions" *ngIf="!quizFinished && isStarted">
  <div class="question">
    <div class="spinner-container"  *ngIf="!answerRevealed">
      <mat-progress-spinner
        mode="determinate"
        [value]="timeLeft*(100/maxTime)">
      </mat-progress-spinner>
      <div class="spinner-text">
        {{ timeLeft }}
      </div>
    </div>
  <div class="quiz">
  <div class="TF" *ngIf="questions[currentQuestionIndex]?.answer">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
  
    <div class="answers">
      <button mat-flat-button
      class="button"
        *ngFor="let option of ['igaz', 'hamis']"
        (click)="answerTFQuestion(option)"
        [disabled]="answerRevealed">  
        {{ option }}
      </button>
    </div>
  </div>

  <div class="SQSA" *ngIf="!questions[currentQuestionIndex]?.answer">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
  
    <div class="answers">
      <mat-form-field>
        <mat-label>Válasz</mat-label>
        <textarea matInput [(ngModel)]="myAnswer"></textarea>
      </mat-form-field>
      <button mat-flat-button
      (click)="answerSQSAQuestion()"
      [disabled]="answerRevealed">Ellenőrzés
      </button>
    </div>
  </div>
  

    <div class="revealed" *ngIf="answerRevealed && correctAnswer">
      <div *ngIf="correctAnswer != 'IGAZ'">
      <p>Helyes válasz: </p><p><strong>{{ correctAnswer }}</strong></p>
      </div>
      <div *ngIf="correctAnswer == 'IGAZ'">
        <p>A válaszod helyes</p>
        </div>
      <br/>
    <div id="nextButton">
    <button mat-flat-button
      (click)="nextQuestion()">
       Következő kérdés 
    </button>
    </div>
    </div>
  </div>
</div>
  
  <div *ngIf="quizFinished && isStarted">
    <h2>Végeredmény: {{ score }} / {{ questions.length }}</h2>
  </div>