<div *ngIf="!quizFinished">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
  
    <div class="answers">
      <button 
        *ngFor="let option of ['igaz', 'hamis']"
        (click)="answerQuestion(option)"
        [disabled]="answerRevealed">
        {{ option }}
      </button>
    </div>
  
    <p>Idő: {{ timeLeft }} mp</p>
  
    <div *ngIf="answerRevealed">
      <p>Helyes válasz: <strong>{{ correctAnswer }}</strong></p>
    </div>
  </div>
  
  <div *ngIf="quizFinished">
    <h2>Végeredmény: {{ score }} / {{ questions.length }}</h2>
  </div>
  